body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/young-asian-woman-watching-sunset-near-beach-beautiful-female-happy-relax-enjoy-moment-when-sunset-evening_7861-1719.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding-top: 200px;
  }
  .a {
    color: black;
    font-style:italic;
    margin-top: 0px;
    padding: px;
  }
  video {
    border-style:solid ;
   
  }
  #q :hover {
    border-color: yellow;
    box-shadow: rgb(243, 225, 125);
  }
  #be {
    background-color: white;
    color: black;
    font-style:italic;
    display: inline;
  }
 